@model plan02.Models.BEmployee

    @{
        ViewData["Title"] = "Details";
    }

    <h1>詳細聘任資料</h1>

    <div>
        
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BGender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BGender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BMail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BMail)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BSalary)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BSalary)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BEmploymentDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BEmploymentDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BEmploymentDate2)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BEmploymentDate2)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BCreatetime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BCreatetime)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.BId">編輯</a> |
        <a asp-action="Index">返回清單</a>
    </div>

@*@model plan02.Models.BEmployee

    @{
        ViewData["Title"] = "Details";
    }

    <h1>詳細資料</h1>

    <div>
        <h4>BEmployee</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BGender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BGender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BMail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BMail)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BSalary)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BSalary)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BEmploymentDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BEmploymentDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BCreatetime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BCreatetime)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.BId">編輯</a> |
        <a asp-action="Index">返回清單</a>
    </div>*@
