@model IEnumerable<plan02.Models.PunchIn>

@{
    ViewData["Title"] = "Index";
}



<form asp-controller="PunchIns" asp-action="Index3" method="get">
    <p>
         <input type="text" name="SearchString" />月份
        @*<input type="submit" value="搜尋" />*@

        <input type="submit" value="搜尋" class="btn btn-primary btn-sm" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PunchIn1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PunchOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Day)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PunchIn1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PunchOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark2)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Pid">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Pid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Pid">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
